include README.md LICENSE
recursive-include dash_pdf_components *.py *.js *.css *.json *.icc *.mjs *.bcmap *.pfb *.ttf *.otf *.wasm *.svg *.gif
recursive-exclude dash_pdf_components *.map
prune src
prune docs
prune tests
prune scripts
prune examples
prune assets
prune .github
exclude usage.py dash_prop_typing.py package.json pnpm-lock.yaml pnpm-workspace.yaml tsconfig.json webpack.config.js
